body {
    margin: 0;
}
img {
    max-width: 100%;
    height: auto;
}
.container {
    padding: 32px;
}
.grid-container {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.project {
    overflow: hidden;
    border-radius: 8px;
}
.project img {
    vertical-align: middle;
    object-fit: cover;
    height: 100%;
}
.max-width {
    max-width: 1280px;
}
.mx-auto {
    margin: 0 auto;
}
.mb-1 {
    margin-bottom: 16px;
}