.background{
    background-color: #E8E2D6;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    overflow: hidden;
    background-color: #333;
}

.column {
    padding: 10px;
    text-align: center;
}
.column img, .bg-colortop img {
max-width: 100%;
height: auto;
}
.p {
    margin-top: 0.5px;
}
.row:after {
    content: "";
    clear: both;
    display: table;
}
.flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}
.bg-color {
    background-color: #D4836D;
    margin-bottom: 60px;
  }
  .bg-colorbottom{
    background-color: #934835;
  }
.bg-colortop{
    background-color: #934835;
    max-width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.header {
     display: grid;
     justify-content: space-between;
     grid-template-columns: auto auto;
     align: center;
}
a {
    text-decoration: none;
    color: black;
  }

  .style{
    font-size: 25px;
    
  }
.font{
    font-size: 14px;
}
.font2{
    font-size: 20px;
}
.font3{
    font-size: 20px;
    padding: 20px;
    padding-right: 40px;
}
.food{
    font-size: 23px;
}

.button {
    background-color: #C9B087; /* Tan */
    border: none;
    color: white;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    transition-duration: 0.4s;
}
 .button:hover {
        background-color: #E8E2D6; /* sand */
        color: white;
      }
.b:hover {
    color: white;
}
      .align-center {
        margin: auto;
        width: 100%;
        padding: 10px;
      }
      div.background {
        background: url(klematis.jpg) repeat;
        border: 2px solid black;
      }
      
      div.transbox {
        margin: 30px;
        background-color: #ffffff;
        border: 1px solid black;
        opacity: 0.6;
      }
      
    .image{
        float: left;;
    }
    .button:hover {
        background-color: #934835; /* red */
        color:white;
    }
    .padding{
        padding-left: 5px;
        padding-right: 10px;
    }
    .row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .row3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .section img {
         max-width: 100%;
         height: auto;
    }
    .section {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
    
    }
    .row2 {
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
     }
     body {
        font-family:"kristal", sans-serif;
        margin:0;
    }

    h1 {
    text-align: center;
    }
    
    h2 {
    text-align: left;
    }
    
    h3 {
    text-align: left;
    }
    h4 {
        margin: 0px;
    }
    .max {
        max-width: 1000px;
        margin: 0 auto;
    }

.margin {
    margin-bottom: 30px;
}