body {
    margin: 0;
}
.grid-container {
    display: grid;
}
.col-1 {
    grid-template-columns: 1fr;
}
.col-2 {
    grid-template-columns: 1fr 1fr;
}
.col-3 {
    grid-template-columns: 1fr 1fr 1fr;
}
.col-interest-right {
    grid-template-columns: 2fr 1fr;
}
.col-interest-left {
    grid-template-columns: 1fr 2fr;
}
.red-column, .green-column, .blue-column, .purple-column, .pink-column, .orange-column {
    padding: 10px;
}
.red-column {
    background-color: red;
}
.green-column {
    background-color: green;
}
.blue-column {
    background-color: blue;
}
.purple-column {
    background-color: purple;
}
.pink-column {
    background-color: pink;
}
.orange-column {
    background-color: orange;
}
.container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
